
@font-face { font-family: "Georgia Pro"; src: url(georgia-pro-regular.ttf); font-weight: 400; font-style: normal; }
@font-face { font-family: "Georgia Pro"; src: url(georgia-pro-italic.ttf);  font-weight: 400; font-style: italic; }
@font-face { font-family: "Georgia Pro"; src: url(georgia-pro-bold.ttf);    font-weight: 700; font-style: normal; }
@font-face { font-family: "Georgia Pro"; src: url(georgia-pro-bold-italic.ttf); font-weight: 700; font-style: italic; }
/* @font-face { font-family: "Noto Sans JP"; src: url(noto-sans-jp.woff2); font-weight: 400 700; font-style: normal; } */
/* @font-face { font-family: "Roboto"; src: url(roboto-regular.woff2); font-weight: 400 700; font-style: normal; } */
/* @font-face { font-family: "Roboto"; src: url(roboto-italic.woff2); font-weight: 400 700; font-style: italic; } */
/* @font-face { font-family: "Open Sans"; src: url(open-sans-regular.woff2); font-weight: 400 700; font-style: normal; } */
/* @font-face { font-family: "Open Sans"; src: url(open-sans-italic.woff2); font-weight: 400 700; font-style: italic; } */

body ::selection { background-color: #fff1ba; color: var(--grey-30); }

:root {
    --white: #fbfaf9;
    --grey-f0: #f3f1f0;
    --grey-e0: #e0e0e0;
    --grey-d0: #d0d0d0;
    --accent: #b11;
    --grey-90: #909090;
    --grey-60: #606060;
    --grey-50: #505050;
    --grey-40: #404040;
    --grey-30: #302e2d;
    --black: #000;
    --pad: 40px;
    --main: 740px;
    --nav-height: 40px;
    --rightpad: clamp(0px, calc(0.2 * calc(100vw - var(--main) - calc(3 * var(--pad)))), 400px);
}
.wide { --main: 900px; }
.narrow { --main: 620px; }

* { margin: 0; padding: 0; }
#cover { pointer-events: none; }

    html { scroll-padding-top: 60px; scrollbar-color: #777 #ddd; }

    a { color: var(--accent); text-decoration: none; text-underline-offset: 2px; }
    a:hover { color: color-mix(in srgb, var(--accent) 90%, black); text-decoration: underline; }
    b { font-weight: 700; }
    ul, ol { padding: 0 40px; }
    li, ul, ol { margin-top: 0.5em; }
    ol + li, ul + li, li + li { margin-block: 7px; }
    ol > li { margin-left: -2px; padding-left: 2px; }
    ul { list-style-type: disc; } ul ul { list-style-type: inherit; }

    #page { min-height: 100vh; color: var(--grey-30); font-family: "Segoe UI","Nirmala UI",system-ui; font-size: 14px; line-height: 1.5; display: flex; flex-direction: column; background-color: var(--grey-f0); }
    .toc-page { --rightpad: clamp(0px, calc(0.2 * calc(100vw - 242px - var(--main) - calc(3 * var(--pad)))), 400px); }

        #header { background-color: #111; padding-right: var(--rightpad); }
        #header div { }
        #header img { filter: invert(1); display: block; }
        #header a { display: block; width: 272px; height: 75px; margin: 1em auto; }
        #header a:hover { opacity: 0.7; }

        #nav { height: var(--nav-height); position: sticky; top: 0; padding-right: var(--rightpad); color: #666; background-color: #222; font-family: monospace; display: flex; justify-content: center; align-items: stretch; }
            .nav-inner { width: 100%; max-width: var(--main); padding: 10px; display: flex; justify-content: space-between; align-items: stretch; }
                #page-display { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: calc(var(--main) - 60px); } /* prevents long title overflow */
                    #page-display a { color: #666; }
                    #page-display a:hover { color: #999; }
                    #darkmode-switch { border: 1px solid #fff2; padding: 2px 4px; font-family: monospace; background-color: transparent; color: #777; }
                    #darkmode-switch:hover { background-color: #555; color: #999; }
                    #darkmode-switch:active { background-color: #666; color: #ccc; }

        .c1 { padding-right: var(--rightpad); display: flex; }
         .c2 { margin: auto; background-color: var(--white); padding: var(--pad); gap: var(--pad); }
          .c3 { max-width: var(--main); }

                #toc { max-height: calc(100vh - calc(2 * var(--pad)) - var(--nav-height)); position: sticky; top: calc(var(--pad) + var(--nav-height)); max-width: 242px; min-width: 242px; }
                #toc.condensed { max-width: unset; height: unset; position: static; }
                #toc.condensed .scroller { flex-wrap: wrap; height: unset; display: flex; mask-image: none; -webkit-mask-image: none; }
                #toc.condensed .scroller .toc-row { display: inline-block; margin-left: 15px; white-space: nowrap; max-width: unset; -webkit-mask-image: none; mask-image: none; transition: none; }

                #toc .toc-title { font-size: 15px; font-weight: 700; color: var(--grey-60); border-bottom: 1px solid var(--grey-d0); padding-bottom: 7px; }
                #toc .scroller { padding: 0 0 20px; margin-top: 5px; max-height: calc(100% - 100px); overflow: hidden; scrollbar-width: thin; scrollbar-color: var(--grey-90) var(--grey-e0); }
                #toc .scroller { -webkit-mask-image: linear-gradient(to bottom, var(--black) 80%, transparent); mask-image: linear-gradient(to bottom, var(--black) 80%, transparent); transition: mask-image 0.2s; }
                #toc .scroller.hide-mask,
                #toc .scroller:focus-within,
                #toc .scroller:hover { mask-image: none; }
                #toc .scroller:hover { overflow: auto; }
                #toc .toc-row { color: var(--grey-90); display: block; margin-top: 10px; line-height: 1.3; }
                #toc .toc-row:hover { text-decoration: underline; }
                #toc .scroller .toc-row { max-width: 200px; }
                #toc .toc-row.active-heading { color: var(--grey-30); }
                #toc .toc-row.h3 { margin-left: 15px; }

            #article { }

                #article > :nth-child(1) { margin-top: 0 !important; }
                #article hr { margin-block: 20px !important; border: none; height: 1px; width: 100%; background-color: var(--grey-90); }
                #article br.br-sp { margin-bottom: 7px;}

                #article .fine, #article small { font-family: var(--system); font-size: 14px; color: var(--grey-60); }
                #article .citeref { font-family: Verdana,sans-serif; margin-left: 1px; vertical-align: top; line-height: 1.3; font-size: 11px; }
                #article .citeref *, #article .fine *, #article small { font-family: inherit !important; font-size: inherit !important; }

                #article p { margin: 13px 0; }
                #article p,
                #article li,
                #article blockquote { font-family: Georgia,sans-serif; }
                #article p b, #article li b, #article blockquote b { letter-spacing: -0.15px; }
                #article p,
                #article li { line-height: 1.7; font-size: 15.4px; }
                #article .digit, #article ol > li::marker { font-family: "Georgia Pro",Georgia,serif; }

                #article blockquote { line-height: 1.6; font-size: 15px; margin-block: 1.3em; background-color: var(--grey-f0); padding: 1em 1.3em 0.8em; margin-left: 1px; border-left: 3px solid var(--grey-40); }
                #article blockquote br { margin-bottom: 0.8em; }
                #article blockquote .fine { color: var(--grey-90); }
                #article blockquote .attribution { text-align: right; margin-top: 0.35em; opacity: 0.7; }

                #article .right-quote-margin { margin-right: -1px; }
                #article .mdash { margin-inline: 1px; font-family: "Segoe UI","Nirmala UI","Georiga Pro",Georgia,serif; line-height: 1; }
                #article .drop-cap::first-letter { font-size: 54px; float: left; padding: 8px 6px 3px 2px; font-family: Georgia,serif; }

                #article h1 { font-size: 30px; }
                #article h2 { font-size: 25px; }
                #article h3 { font-size: 20px; }
                #article h4 { font-size: 16px; }

                #article h1, #article h2, #article h3, #article h4 {
                    line-height: 1.3;
                    font-weight: 700;
                    color: var(--black);
                    clear: both;
                    margin: 1em 0 1rem;
                    font-family: "Trebuchet MS",Arial,sans-serif;
                }

                #article .transcript { line-height: 1.6; margin-block: 1.3em; border-collapse: collapse; background-color: var(--grey-f0); font-family: sans-serif; }
                #article .transcript tr td { border: none; vertical-align: baseline; padding: 5px 8px; }
                #article .transcript tr:nth-child(1) > td { padding-top: 10px !important; }
                #article .transcript tr > td:nth-child(1) { padding-left: 20px !important; font-weight: 700; border-left: 3px solid var(--grey-40); border-right: 1px solid var(--grey-90); white-space: nowrap; text-align: right; }
                #article .transcript tr > td:nth-child(2) { padding-right: 17px !important; }
                #article .transcript tr:not(:last-child) > td:nth-child(2) { border-bottom: 1px dotted var(--grey-90); }
                #article .transcript tr:last-child > td { padding-bottom: 10px !important; }
                #article .transcript .transcript-note { color: var(--grey-60); font-weight: 400; }

                #article code, #article .codeblock { white-space: pre-wrap; font-family: monospace; }
                #article code { margin-inline: 1px; padding: 3px; background-color: var(--grey-e0); font-size: 13px; }
                #article .codeblock { padding: 10px 17px 13px; background-color: var(--grey-f0); border-left: 3px solid var(--grey-40); }

                #article .title-box h1 { margin: 0; }
                #article .title-box .date-box { color: var(--grey-90); margin: 0.5em 0; font-family: Arial,sans-serif; }

                #article .noq-table { border-collapse: collapse; margin-block: 13px; line-height: 1.6; color: var(--grey-30); font-size: 14.4px; }
                #article .noq-table td { border: 1px solid var(--grey-90); padding: 5px 7px 4px; }

                #article .noq-video { display: block; width: 100%; max-height: 300px; background-color: transparent; }

                #article .image-box { display: flex; justify-content: space-around; max-width: 100%; gap: 8px; overflow: hidden; align-items: center; margin-block: 1.5em; }
                #article .image-box div { display: inline-block; border: 1px solid var(--grey-90); height: 100%; }
                #article .image-box div img { width: inherit; max-width: 100%; display: block; object-fit: contain; }

                #article .image-float { margin: 0 16px 16px; padding: 7px; background-color: var(--white); border: 1px solid var(--grey-d0); }
                #article .image-float img { margin: auto; display: block; border: 1px solid var(--grey-d0); object-fit: contain; max-width: 200px; max-height: 250px; }
                #article .image-float div { text-align: center; padding-top: 5px; line-height: 1.3; max-width: 200px; font-family: var(--system); }
                #article .image-float.left { float: left; margin-left: 0; }
                #article .image-float.right { float: right; margin-right: 0; }

        #page-bottom { color: var(--grey-90); text-align: justify; margin-top: var(--pad); opacity: 0.8; }
            #page-bottom a { color: var(--grey-90); }

        #lightbox-container { z-index: 1; width: 100%; height: 100vh; background-color: #000a; position: fixed; left: 0; top: 0; display: none; align-items: center; justify-content: center; }
        #lightbox { object-fit: contain; max-width: 90%; max-height: 90%; }

        @keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
        .fade-out { animation: fadeOut 1.2s forwards; }

.darkmode {
    --white: #444;
    --grey-f0: #333;
    --grey-e0: #505050;
    --grey-d0: #555;
    --accent: #9aa2cc;
    --grey-90: #666;
    --grey-60: #999;
    --grey-50: #aaa;
    --grey-40: #bbb;
    --grey-30: #ccc;
    --black: #fff;
}
.darkmode ::selection { background-color: #556088; color: var(--black); }




