
@font-face { font-family: "PT Serif"; src: url(pt-serif-normal.woff2); font-weight: 400; font-style: normal; }
@font-face { font-family: "PT Serif"; src: url(pt-serif-bold.woff2); font-weight: 700; font-style: normal; }
@font-face { font-family: "PT Serif"; src: url(pt-serif-italic.woff2); font-weight: 400; font-style: italic; }
@font-face { font-family: "PT Serif"; src: url(pt-serif-bold-italic.woff2); font-weight: 700; font-style: italic; }
@font-face { font-family: "Inter"; src: url(inter-regular.woff2) format("woff2"); font-weight: 400 700; font-style: normal; }
@font-face { font-family: "Inter"; src: url(inter-italic.woff2) format("woff2"); font-weight: 400 700; font-style: italic; }
@font-face { font-family: "Roboto"; src: url(roboto-normal.woff2) format("woff2"); font-weight: 400 700; font-style: normal; }
@font-face { font-family: "Roboto"; src: url(roboto-italic.woff2) format("woff2"); font-weight: 400 700; font-style: italic; }

:root {
  --white: #ffffff;
  --accent: #c00020;
  --grey-f0: #f0f0f0;
  --grey-e0: #e0e0e0;
  --grey-d0: #d0d0d0;
  --grey-90: #909090;
  --grey-60: #606060;
  --grey-50: #505050;
  --grey-40: #404040;
  --grey-20: #202020;
  --sidebar-width: 250px;
  --content-width: 824px;
}
body.narrow { --content-width: 650px; }
body.wide { --content-width: 1080px; }
body.unset { --content-width: unset; }
/* c00020 05e */

::selection { background-color: #bbb8; }
* { margin: 0; padding: 0; text-underline-offset: 2px; }
a { text-decoration: none; }
#cover { pointer-events: none; }
.nowrap { white-space: nowrap; }

html { scroll-padding-top: 60px; }
body { color: var(--grey-20); font-size: 14px; font-family: Inter,system-ui; line-height: 1.3; height: 100vh; display: grid; grid-template-rows: auto 1fr 104px; }
  #top {  }
    #header-wrapper { background-color: #111; }
      #header { margin: 0 auto; display: flex; justify-content: center; }
        #header a { display: block; max-width: var(--content-width); margin: 17px 0; height: 67px; box-sizing: border-box; padding: 0 60px; }
        #header a:hover { text-decoration: none; opacity: 0.85; }
          #header a img { margin: 0 auto; display: block; width: 252px; height: 67px; filter: invert(1); }
    #nav { height: 24px; background-color: var(--accent); background-image: linear-gradient(#444b, #444b); }
  
  #page-wrapper { background-color: var(--grey-f0); display: flex; align-items: stretch; justify-content: center; }
    #sidebar { font-family: system-ui; color: var(--grey-20); width: var(--sidebar-width); min-width: var(--sidebar-width); box-sizing: border-box; background-color: var(--grey-f0); }
      #sidebar h3 { padding: 0 10px; font-size: 15px; color: var(--grey-50); font-weight: 700; }
      #sidebar a { color: var(--grey-50); padding: 2px 0; }
      #sidebar a:hover { color: var(--grey-20); text-decoration: underline; }
      #sidebar > nav { padding: 10px; }
        #page-links { display: flex; flex-direction: column; gap: 4px; }
        #page-links.is-sticky { position: sticky; top: 0; }
          #page-links .nav-row { padding: 2px 6px 3px; display: flex; align-items: center; justify-content: space-between; }
          #page-links .nav-row.current-page { color: var(--grey-40); font-weight: 700; background-color: var(--grey-d0); }
          #page-links .nav-row img.icon { opacity: 0.5; }
          #page-links .more-posts { text-align: right; }
          #page-links .more-posts a { padding: 3px 5px; }
        #toc { position: sticky; top: 0; padding-bottom: 22px; max-height: 100vh; box-sizing: border-box; overflow-y: auto; scrollbar-width: thin; }
          #toc > div { padding-bottom: 44px; }
            #toc-links { padding: 10px; display: flex; flex-direction: column; gap: 5px; }
              #toc-links .toc-row { padding: 3px 5px; }
              #toc-links .toc-row.h1 { padding-left: 0; }
              #toc-links .toc-row.h2 { padding-left: 8px; }
              #toc-links .toc-row.h3 { padding-left: 16px; }
              #toc-links .toc-row.active-heading { color: var(--accent); filter: brightness(0.8); }
    
    #content-wrapper { background-color: var(--white); max-width: var(--content-width); padding: 60px; box-sizing: border-box; min-height: 100%; }
      #content-wrapper > div { width: 100%; }
      #content-wrapper > :nth-child(n + 2) { margin-top: 40px; }
      
        #main-content { font-size: 15px; line-height: 1.7em; background-color: var(--white); color: var(--grey-20); }
          #main-content > :nth-child(n + 2) { margin-top: 1em; }
          #main-content h1 { font-size: calc(100% + 15px); }
          #main-content h2 { font-size: calc(100% + 9px); }
          #main-content h3 { font-size: calc(100% + 4px); }
          #main-content h1,
          #main-content h2,
          #main-content h3 { line-height: 1.3em; font-weight: 400; font-family: Inter,Trebuchet MS,sans-serif; }
          #main-content > p + ul,
          #main-content > p + ol { margin-top: 7px!important; }
          #main-content .title-box .date-box { color: var(--grey-50); white-space: nowrap; font-family: Roboto,Arial; }
          #main-content .image-box { display: flex; justify-content: space-around; max-width: 100%; gap: 8px; overflow: hidden; align-items: center; }
          #main-content .image-box div { display: inline-block; border: 1px solid var(--grey-90); height: 100%; }
          #main-content .image-box div img { width: inherit; max-width: 100%; display: block; object-fit: contain; }
          #main-content .noq-table { border-collapse: collapse; line-height: 1.5; font-size: calc(100% - 1px); }
          #main-content .noq-table td { border: 1px solid var(--grey-90); padding: 3px 7px 4px; }
          #main-content .transcript { border: 1px solid var(--grey-d0); background-color: var(--grey-f0); border-collapse: collapse; line-height: 1.5; font-size: calc(100% - 1px); }
          #main-content .transcript tr td { border: none; vertical-align: top; }
          #main-content .transcript tr td:first-child { padding: 5px 7px 5px 12px; white-space: nowrap; text-align: right; border-right: 1px solid var(--grey-d0); }
          #main-content .transcript tr td:nth-child(2) { padding: 5px 12px 5px 7px; }
          #main-content .transcript tr:first-child td { padding-top: 9px; }
          #main-content .transcript tr:last-child td { padding-bottom: 9px; }
          #main-content hr { border: none; height: 1px; width: 100%; background-color: var(--grey-90); }
          #main-content blockquote { padding: 12px 15px; line-height: 1.5; margin-left: 1px; background-color: var(--grey-f0); border-left: 3px solid var(--grey-40); }
          #main-content blockquote .bq-br { margin-bottom: 10px; background-color: #e9eaec; }
          #main-content code, .codeblock { white-space: pre-wrap; font-family: Consolas,monospace; line-height: 1.4; }
          #main-content .codeblock { padding: 10px 11px; border: 1px solid var(--grey-d0); background-color: var(--grey-e0); font-size: calc(100% - 1px); }
          #main-content code { background-color: var(--grey-e0); margin: 0 1px; padding: 3px; font-size: calc(100% - 2px); }
          #main-content a { color: var(--accent); }
          #main-content a:hover { color: var(--accent); text-decoration: underline; }
          #main-content a.citeref { margin-left: 1px; font-family: Tahoma,sans-serif; line-height: 1.3; vertical-align: top; font-size: calc(100% - 3px); }
          #main-content .fine { font-family: Roboto,sans-serif; color: var(--grey-60); font-size: calc(100% - 1px); }
          #main-content .fine * { font-family: inherit; font-size: inherit; }
          #main-content p,
          #main-content li,
          #main-content blockquote { font-family: Georgia,serif; }
          #main-content blockquote .attribution { text-align: right; }
          #main-content blockquote .fine { color: var(--grey-90); }
          #main-content ul { list-style-type: disc; }
          #main-content ul ul { list-style-type: inherit; }
          #main-content ul,
          #main-content ol { padding: 0 40px; }
          #main-content ol > li { margin-left: -2px; padding-left: 2px; }
          #main-content ul > li + li,
          #main-content ol > li + li { margin-top: 7px; }
          #main-content ul li,
          #main-content ol li { line-height: 1.6; }
          #main-content ol li br,
          #main-content ul li br { margin-bottom: 5px; }
          #main-content p .rendered_digit,
          #main-content blockquote .rendered_digit,
          #main-content td .rendered_digit,
          #main-content li .rendered_digit,
          #main-content ol > li::marker {
            font-family: PT Serif,Tahoma,serif;
          }
          #main-content ol.fine > li::marker {
            font-family: inherit;
          }
          #main-content .citeref .rendered_digit,
          #main-content small .rendered_digit,
          #main-content code .rendered_digit,
          #main-content .codeblock .rendered_digit,
          #main-content h1 .rendered_digit,
          #main-content h2 .rendered_digit,
          #main-content h3 .rendered_digit,
          #main-content .fine .rendered_digit,
          #main-content .date-box .rendered_digit {
            font-size: inherit; font-family: inherit;
          }
          
        #content-footer { width: 100%; max-width: 530px; border-top: 1px solid var(--grey-90); border-bottom: 1px solid var(--grey-90); margin-left: auto; margin-right: auto; display: flex; align-items: center; padding: 20px 0; }
          #content-footer img { object-fit: contain; border: 1px solid var(--grey-90); width: 100px; height: 100px; }
          #content-footer div { display: flex; flex-direction: column; padding: 0 12px; }
            #content-footer p { margin: 5px auto; text-align: center; color: var(--grey-60); font-family: Georgia,serif; font-size: 15px; }
            #content-footer a { color: inherit; text-decoration: underline; }
        
        #citations { line-height: 1.5; font-family: Verdana,system-ui; font-size: 12px; color: var(--grey-90); }
          #citations a { color: var(--grey-90); }
          #citations a:hover { color: var(--grey-60); }
          #citations ol { margin: 0; padding: 5px 30px; }
            #citations ol li { text-align: left; padding: 2px; margin: 0; }
        
        #full-page-list table { font-family: system-ui; font-size: 14px; border-collapse: collapse; margin: auto; color: var(--grey-90); }
        #full-page-list table tr th { padding: 3px 14px 7px; font-weight: 400; color: var(--grey-90); text-align: left; }
        #full-page-list table tr td { padding: 3px 14px; }
        #full-page-list table tr > :first-child { padding-left: 4px; }
        #full-page-list table tr > :last-child { padding-right: 4px; }
        #full-page-list table tr td a { padding: 2px 0; color: var(--grey-50); display: flex; align-items: center; gap: 3px; }
        #full-page-list table tr td a:hover { color: var(--grey-20); }
        #full-page-list img.icon { opacity: 0.5; }
        
  #footer { width: 100%; height: 104px; background-color: #111; }
    #image-viewer-wrapper { z-index: 1; width: 100%; height: 100vh; background-color: #000c; position: fixed; left: 0; top: 0; display: none; align-items: center; justify-content: center; }
      #image-viewer { object-fit: contain; max-width: 90%; max-height: 90%; }
  
  @keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
  .fade-out { animation: fadeOut 1.4s forwards; }


